/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
	margin: 0;
	font-size: 100%;
	background: #fff;
	font-family: 'Work Sans', sans-serif;
  
  
}

body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

a:hover {
	text-decoration: none;
}

input[type="button"],
input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
}

p {
	margin: 0;
	letter-spacing: 1px;
	font-size: 0.9em;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}




/*--header--*/

/*--header--*/

.content {
	margin: 0;
	padding: 0px;
}

.content p:last-child {
	margin: 0;
}

.content a.button {
	display: inline-block;
	padding: 10px 20px;
	background: #ff0;
	color: #000;
	text-decoration: none;
}

.content a.button:hover {
	background: #000;
	color: #ff0;
}

.content.title {
	position: relative;
	background: #333;
}

.navbar-nav {
	float: right;
	margin: 0;
}

.content.title h1 span.demo {
	display: inline-block;
	font-size: .5em;
	padding: 10px;
	background: #fff;
	color: #333;
	vertical-align: top;
}

.content.title .back-to-article {
	position: absolute;
	bottom: -20px;
	left: 20px;
}

.content.title .back-to-article a {
	padding: 10px 20px;
	background: #23B684;
	color: #fff;
	text-decoration: none;
}

.content.title .back-to-article a:hover {
	background: #23B684;
}

.content.title .back-to-article a i {
	margin-left: 5px;
}

.content.white {
	background: #000;
	padding: 1em 0;
}

.content.black {
	background: #000;
}

.content.black p {
	color: #999;
}

.content.black p a {
	color: #08c;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0!important;
	border: 1px solid transparent;
}

.navbar-default {
	background-color: #000;
	border-color: #000;
    border-bottom: 4px solid #1f497d;
}

.navbar-brand {
	float: left;
	padding: 0!important;
	font-size: 18px;
	line-height: 0px!important;
	height: 0px!important;
	text-transform: uppercase;
}

.navbar-default a.navbar-brand h1 {
	color: #282828;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 0.9em;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 14px 8px;
}

.navbar-nav>li>a {
	padding-top: 18px;
	padding-bottom: 15px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.active {
	color: #1f497d;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: rgba(35, 182, 132, 0);
    color: #810541;
}
.navbar-default .navbar-brand label {
	color: #1f497d;
	display: block;
	font-size: 0.3em;
	text-align: center;
	letter-spacing: 3px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #202020;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #1f497d;
}

.navbar-default .navbar-nav>.active>a:before {
	background: #1f497d;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}

.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 0;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #282828;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
}

.effect-3 {
	overflow: hidden;
}

.effect-3:before {
	left: -1px;
	bottom: 0;
	width: 100%;
	height: 2px;
	background:#1f497d;
	content: '';
	position: absolute;
	transition: transform .5s ease;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
}

.effect-3:hover:before {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #810541;
	background: none;
}

.navbar-nav>li {
	float: left;
	margin: 0 15px;
}

.navbar-default .navbar-toggle {
	border-color: #202020;
}



@media (max-width:767px) {
	
	.navbar-nav {
		float: left;
		margin: 0;
		margin-left: 0em;
		width: 100%;
		background: #eee;
		margin-top: 1em;
	}
}





/* about */
/*
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
*/





.headingmain .heading-agileinfo {
    font-weight: 900;
    letter-spacing: .5px;
    font-size: 55px;
    margin-bottom: 1.9em;
    text-align: center;
    color: #1F497D;
    text-transform: uppercase;
    position: relative;
    margin-top: 0;
}
.heading-agileinfo {
    font-weight: 900;
    letter-spacing: .5px;
    font-size: 40px;
    margin-bottom: 1.9em;
    text-align: center;
    color: #1F497D;
    text-transform: uppercase;
    position: relative;
    margin-top: 0;
}
.heading-agileinfo span {
    display: block;
    font-size: 17px!important;
    margin-top: 1em;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #000000;
    font-weight: 500;
}
.heading-agileinfo span:after {
    content: '';
    background: #212121;
    height: 2px;
    width: 70px;
    position: absolute;
    top: 132%;
    right: 47%;
}
a.wthree-.about-link {
    color: #fff;
    border: 1px solid #03afdd;
    background: #03afdd;
    border-radius: 0;
    padding: 0.5em 2.5em;
    outline: none;
    font-size: 1em;
    margin: 4% auto 0;
    font-weight: 600;
    letter-spacing: 4px;
    display: inline-block;
    text-transform: uppercase;
}

.agileits-about-grid p {
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.8em;
    color: #000;
}
.agileits-about-grid1 {
    border: 1px solid #1F497D;
}



.agileits-about-grid3 {
    border: 1px solid #1F497D;
}
.agile-about{
	padding:5em 0 0;
}

/* //about */


/* about-bottom */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align:center;
  padding: 8px;
}


.agileits-about-btm {
    padding: 5em 0;
}

.ab1 {
    padding: 2em;
}
.ab1 span {
    color: #000;
    font-size: 2em;
}


h4.agileinfo-head {
    color: #1F497D;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0.7em 0;
    font-size: 1.8em;
    text-align: center;
}

.ab1 h5 {
    color: #000;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1em 0 0.2em;
}
.ab1 p {
    color: #f00;
    font-size: 15px;
    line-height: 1.8em;
    margin: 10px 0 0;
}

.agileits-about-btm .agileits-about-grid p{
    font-size: 1.5em;
    font-weight: 600;
}


/* //about-bottom */

/*-- stats --*/







.german {
   background-color:#1f497d; 
/*   background: url(../images/banner2.jpg) no-repeat 0px 0px ;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    padding-bottom: 5em;
    
}
.german .heading-agileinfo{
    color: white;
    
}

.german .agileits-about-grid p {
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.8em;
    color: #fff;
}


.german .agileits-about-grid li{
     width: 80%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.8em;
    color: #fff;
}
.german .agileits-about-grid a{
    color: #ff0505;
}

.french{
/*
    background: url(../images/) no-repeat 0px 0px ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
*/
    padding: 3em 0;
}
.french .agileits-about-grid ul {
    
   display: inline-block;
    text-align: initial;
    list-style-position: inside;
    
}
.french .agileits-about-grid a{
    color: #1F497D
}

/*-- //stats --*/
/*-- feedback --*/ 
.feedback {
/*
  background: url(../images/g13.jpg) no-repeat center fixed;
  background-size: cover;
*/
   
background-color: #1f497d; 

  padding:5em 0;
}

.feedback .heading-agileinfo{
    color: #ffffff;
}


.agileits-feedback-grids {
  background: rgba(0, 0, 0, 0.47);
  padding: 1em;
  -webkit-box-shadow: 0px 1px 7px #8e8e8e;
  -moz-box-shadow: 0px 1px 7px #8e8e8e;
  box-shadow: 0px 1px 7px #8e8e8e;
}

.feedback-img{
    align-items: center;
    
}
.feedback-grids {
    margin: 2em auto 0;
    width: 55%;
}
.feedback-img img{
	width:100%;
}
.feedback-info {
    margin: 1em !important;
}
.feedback-img-info{
text-align: center;
  
    margin-left: .5em;
}
.feedback-img-info h5 {
    color: #fff;
    font-size: 1.1em;
    margin: 0;
    font-weight: 600;
}
.feedback-img-info h6 {
    color: #fff;
    font-size: 1em;
    margin: 0;
    font-weight: 500;
}
.feedback-img-info p {
    color: #ff3e3e;
    font-size: .9em;
    margin: 0.5em 0 0;
}
/*-- //feedback --*/

/*faq*/

.faq_section{
	margin:40px auto;
}
.FaQ_Each{
	padding-bottom: 10px;
}
.box  {
  /*background: rgba(246, 246, 246, 1);*/
  color: #666666;
  padding-top: 15px;
  padding-bottom:15px;
  padding-left: 20px;
  font-size: 13px;
    font-weight: bold;
  text-transform: none;
  cursor:pointer;
  border: 1px solid #d9d9d9;
}
.draw {
  display: none;
  background: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  color: #000000;
  padding-left:30px;
}
#other{
	display: none;
}

/*/faq*/


@media (max-width:1080px) {
	.icon-box {
		width: 33.33%;
	}
}

@media (max-width:991px) {
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.icon-box {
		width: 50%;
	}
}

@media (max-width:768px) {
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}

@media (max-width: 640px) {
	.icon-box {
		float: left;
		width: 50%;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.grid_3.grid_4.w3_agileits_icons_page {
		margin-top: 0;
	}
}

@media (max-width: 480px) {
	.bs-glyphicons li {
		width: 31%;
	}
	h3.agileits-icons-title {
		font-size: 25px;
	}
	h3.icon-subheading {
		font-size: 19px;
	}
}

@media (max-width: 414px) {
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}

@media (max-width: 384px) {
	.icon-box {
		float: none;
		width: 100%;
	}
}

@media (max-width: 375px) {
	.w3_agileits_icons_page {
		margin: 0 !important;
	}
}




/*-- footer --*/

.footer_top_agileits {
    
	background: #141415;

}

.footer_top_agileits .container{
    width: 100%;
}

.footer_bottom1 a {
	display: inline-block;
}
.footer_w3ls {
    background: #0f0f10;
    text-align: center;
    padding: 1em 0;
}
ul.tag2:last-child {
	margin: 0;
}

.footer_bottom_grid:nth-child(2) {
	float: right;
	text-align: right;
}

.footer_bottom {
	padding: 2em 0;
}

.index-copy-right {
	background: transparent;
}

.footer_bottom h6 {
	color: #ffffff;
	font-size: 1.4em;
	letter-spacing: 1px;
	margin-bottom: 1em;
	text-transform: uppercase;
	font-weight: 700;
}

.footer_bottom1 p {
	color: #fff;
	font-size: 14px;
	letter-spacing: 2px;
	margin-top: 0em;
}

.footer_bottom1 p a {
	color: #1F497D;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}

.footer_bottom1 p a:hover {
	color: #fff;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}

.social ul {
	padding: 0;
	margin: 0;
}

.social ul li {
	display: inline-block;
}

.social ul li a {
	color: #333;
	text-align: center;
}

.social ul li a i.fa.fa-facebook {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #FFFFFF;
	color: #3b5998;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-facebook:hover {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #3b5998;
	color: #FFFFFF;
}

.social ul li a i.fa.fa-twitter {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #FFFFFF;
	color: #1da1f2;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-twitter:hover {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #1da1f2;
	color: #FFFFFF;
}

.social ul li a i.fa.fa-rss {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #FFFFFF;
	color: #f26522;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-rss:hover {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #f26522;
	color: #FFFFFF;
}

.footer_bottom1 label {
	color: #1F497D;
	display: block;
	font-size: 0.3em;
	letter-spacing: 3px;
}

.footer_bottom1 h2 {
	font-size: 2.2em;
	text-transform: uppercase;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
	color: #fff;
	font-weight: 700;
}

.footer_grid_1{
    margin-top: 4em;
}

.footer_grid h3, .footer_grid_left h3 {
    font-size: 1.5em;
    color: #1F497D;
    position: relative;
    margin-bottom: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer_grid_left h3 {
	margin: 0;
}

.footer_grid p {
	color: #8b8b96;
	line-height: 2em;
	margin-bottom: 2em;
}

.footer_grid_list li,
.address li {
	display: block;
	margin-bottom: 1em;
}

.footer_grid_list li i {
	color: #1F497D;
	padding-right: 1em;
}

.footer_grid_list li a {
	color: #8b8b96;
	text-decoration: none;
	line-height: 1.5em;
	letter-spacing: 1px;
	font-size: 0.9em;
}

.footer_grid_list li a:hover {
	color: #fff;
}

.footer_grid_list li:last-child,
.address li:last-child {
	margin-bottom: 0;
}

.address li {
	color: #8b8b96;
    
}

.address li i {
	margin-right: 1.5em;
	color: #fff;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #4b4b50;
}

.address li span {
	display: block;
	margin-left: 3.5em;
	
}

.address li a {
	color: #a8aeb3;
	text-decoration: none;
    font-size: 15px;
}

.address li a:hover {
	color: #fff;
	text-decoration: none;
}

.footer_grids {
	margin: 3em 0 0 0;
}

.footer_grid_right input[type="email"] {
	outline: none;
	padding: 14px;
	background: #fff;
	font-size: 0.9em;
	color: #888;
	width: 70%;
	margin-right: 1em;
	border: none;
	letter-spacing: 2px;
}

.footer_grid_right input[type="email"]::-webkit-input-placeholder {
	color: #999!important;
}

.footer_grid_right input[type="submit"] {
	outline: none;
	padding: 12px 0;
	background: #1F497D;
	font-size: 1em;
	color: #fff;
	width: 20%;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.footer_grid_right input[type="submit"]:hover {
	background: #ec1955;
}

ul.social-icons3.two li a {
	text-align: center;
}
/*-- //footer --*/
h4.modal-title {
    color: #1F497D;
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 600;
}
.agileits-w3layouts-info p {
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
}

.justdial{
   
 background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
       width: 26%;
    margin-bottom: 10px;
    
}

.justdial1{
    
    
    letter-spacing: .5px;
    font-size: 30px;
    
    text-align: center;
    color: #1F497D;
    text-transform: uppercase;
    position: relative;
    font-family: 'Alfa Slab One', cursive;
    

}

.footer_grid .jd{
    color:black;
}

.jd1{
    margin-bottom: 4em;
}

/*--responsive--*/

@media(max-width:1366px) {
	
	
	

}

@media(max-width:1280px) {
	
	
	
	
}

@media(max-width:1080px) {
	.team_work_agile h4 {
		font-size: 2em;
		width: 85%;
		text-align: center;
		line-height: 1.8em;
		padding-top: 3.5em;
	}
	h3.tittle {
		margin: 0;
		font-size: 2.8em;
	}
	.login-form {
		margin: 3em auto 0;
		width: 85%;
	}
	.testimonials_grid_wthree h4 {
		font-size: 1em;
		line-height: 2.2em;
		margin: 1em auto;
		padding-left: 2.5em;
		width: 73%;
	}
	.footer_grid_left h3 {
		margin: 0;
		font-size: 1.3em;
		line-height: 1.6em;
	}
	#search_form form {
		margin: 2em auto 0;
		width: 90%;
	}
	.agile_info_mail_img_info {
		padding: 2em 1em;
	}
	.inner_page_agile {
		min-height: 229px;
		padding-top: 5em;
	}
	.header-1 {
    min-height: 300px;
}
.navbar-nav>li {
    margin: 0 7px;
}
.w3l_services_footer_top_right_main_l1 {
    margin: 0 1em;
}
}

@media(max-width:1050px) {
	#search_form form {
		margin: 2em auto 0;
		width: 90%;
	}
	.agile_info_mail_img_info {
		padding: 2em 1em;
	}
	.login-form-rec {
		margin: 0 auto;
		width: 65%;
	}
	ul.links_bottom li.last {
		margin-right: 0;
		padding: 5px 18px;
		margin-top: 1em;
	}
	.job_info_right {
		margin-top: 3em;
	}
}

@media(min-width:992px) {
	.mid_services {
		display: flex;
	}
}

@media(max-width:991px) {
	.navbar-nav>li {
		float: left;
		margin: 0 4px;
	}
	.inner_content_info_agileits,
	.banner-bottom,
	.services {
		padding: 4em 0;
	}
	.agile_info_mail_img {
		min-height: 411px;
		margin-left: 0;
		width: 100%;
	}
	.agile_info_mail_img_info {
		margin-bottom: 2em;
		padding: 3em 2em;
	}
	.footer_grid_left h3 {
		margin: 0 0 1em 0;
		font-size: 1.3em;
		line-height: 1.6em;
	}
	.footer_grid:nth-child(3) {
		margin-top: 2em;
	}
	.services-middle-left:nth-child(2) {
		padding: 0;
		margin: 0 0 1em 0;
	}
	.services-middle-left:nth-child(1) {
		padding: 0;
		margin: 0 0 1em 0;
	}
	
	.services-middle {
		margin-top: 1em;
	}
	.team_work_agile h4 {
		font-size: 2em;
		width: 75%;
		line-height: 1.8em;
		padding-top: 3em;
	}
	
	.according_info {
		margin-top: 2em;
	}
	.mid_services_img {
		min-height: 500px;
	}
	.form-inputs,
	.form-right {
		position: relative;
		padding: 0;
	}
	
	
	
	.carousel-control {
    line-height: 25em;
}
	#search_form h2 {
		font-size: 2.3em;
	}
	
	
	.wthree_contact_left_grid {
		padding: 0;
	}
	.blog-grid.one {
		margin-bottom: 0;
	}
	.blog-grid {
		padding: 0;
		width: 48%;
		margin: 1.8% 1%;
		float: left;
	}
	.navbar-nav>li {
    margin: 0 0px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 0.85em;
    letter-spacing: 0px;
    padding: 14px 5px;
}
.agileits_w3layouts_nav_right.contact {
    float: none;
}
.gallery {
    padding: 4em 0;
}
.agileits_services_grid {
    float: left;
    width: 33.3%;
}
.offer {
    padding: 3em 0;
}
.agile_offer_grid:nth-child(2){
    margin: 2em 0;
}
.w3l_services_footer_top_left {
    margin-bottom: 2em;
}
.w3ls_banner_bottom_grids {
    margin-top: 0;
}
.welcome {
    padding: 4em 0;
}
.about-w3slid {
    padding: 4em 0;
}
.about-w3slid p {
    width: 100%;
}
.team {
    padding: 3em 0;
}
.about-w3slid h3 {
    font-size: 2.5em;
}
.w3_agile_team_grid {
    float: left;
    width: 50%;
}
.agile-about {
    padding: 4em 0 0;
}
.agileits-about-grid p {
    width: 100%;
}
.agileits-about-btm {
    padding: 4em 0;
}
h4.agileinfo-head {
    font-size: 1.5em;
}
.stats {
    padding: 4em 0;
}
.w3layouts_stats_left {
    float: left;
    width: 50%;
    margin-bottom: 1.5em;
}
.grid1 {
    margin-bottom: 1.5em;
}
.services-top-grids {
    margin-bottom: 0;
}
.feedback {
    padding: 4em 0;
}
.news {
    padding: 4em 0;
}
}

@media(max-width:900px) {
	h3.tittle {
		margin: 0;
		font-size: 2.6em;
	}
	.footer_bottom_grid:nth-child(2) {
		float: left;
		text-align: left;
		margin-top: 1em;
	}
}

@media(max-width:768px) {
 .navbar-brand {
    margin-left: 0px !important;
}
}

@media(max-width:767px) {
	.content.white {
		padding: 1em 1em;
	}
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}
	td.one {
		padding: 21px 38px;
		font-size: 0.8em;
	}
	.banner {
		min-height: 371px;
	}
	.navbar-nav {
		float: none;
		margin: 0;
		text-align:center;
		margin-left: 0em;
		background: #000;
		
	}
	.navbar-nav>li {
		float: none;
		margin: 0 4px;
        
	}
	.contact-in {
		padding-left: 0;
		padding: 0;
	}
	.main-content {
		padding: 3em 1em;
	}
	.g-left {
		padding: 0 5px;
		margin-bottom: 0.7em;
		float: left;
		width: 33%;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: none!important;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: none!important;
	}
	.multi-column-dropdown li a {
		display: block;
		clear: both;
		line-height: 1.428571429;
		color: #fff;
		white-space: normal;
	}
	.item-details {
		float: right;
		width: 81%;
		padding: 0;
	}
	.navbar-nav>li {
		float: none;
		margin: 0 4px;
	}
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: #e0e1e2;
		border: 0;
	}
	.multi-column-dropdown li a {
		display: block;
		clear: both;
		color: #595a5a;
		white-space: normal;
		border-bottom: 1px solid #ddd;
	}
	.multi-column-dropdown li a:nth-child(last) {
		border: none;
	}
	#search_form form {
		margin: 2em auto 0;
		width: 100%;
	}
	.search_top input[type="submit"] {
		width: 20%;
	}
	.search_top input[type="text"],
	.search_top input[type="submit"] {
		width: 23%;
	}
	
	#search_form {
		padding: 2em 2em;
		text-align: center;
	}
	.team_work_agile h4 {
		font-size: 1.6em;
		width: 75%;
		line-height: 1.8em;
		padding-top: 3em;
	}
	.team_work_agile {
		min-height: 290px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #0c0c0c;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #1F497D;
	}
	.footer_bottom_grid:nth-child(2) {
		float: left;
		text-align: left;
		padding: 0;
		margin-top: 1.2em;
	}
	.footer_bottom_grid {
		padding: 0;
	}
	
	.loc_1 img {
		width: 42%;
		margin-bottom: 1em;
	}
	.candidate_cv {
		min-height: 632px;
		padding: 4em 0 4em 0;
	}
	
	.blog-grid p {
		padding: 0 0em;
	}
}
@media screen and (min-width: 737px){
    .w3-flex{
        display: flex;
    }
    .ab1 {
        flex:1;
    }
}
@media screen and (max-width: 736px){
    .agileits-about-grid p {
        width: 96%;
    }
    .ab1 {
        float: none;
    }
	.agileits_services_grid h3 {
    letter-spacing: 1px;
}
.agileits-about-grid2 {
    border: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin: 2em 0;
}

}
@media(max-width:667px) {
	
	.carousel-control {
		line-height: 23em;
	}
	.testimonials_grid_wthree h4 {
		font-size: 1em;
		line-height: 2.2em;
		margin: 1em auto;
		padding-left: 0.5em;
		width: 100%;
	}
	.testimonials_grid_wthree h5 {
		font-size: 1.2em;
	}
	.footer_top_agileits {
		padding: 3em 0;
	}
	
	#search_form h2 {
		font-size: 2em;
	}
	
	
	.inner_page_agile {
		min-height: 169px;
		padding-top: 3em;
	}
	.inner_page_agile p {
		letter-spacing: 3px;
	}
	h3.tittle {
		margin: 0;
		font-size: 2.4em;
	}
	.single-left1 h3 {
		margin: 2em 0 1em;
		letter-spacing: 1px;
		font-size: 1.2em;
	}
	.login-form-rec {
		margin: 0 auto;
		width: 80%;
	}
	.form-inputs ul li,
	.form-inputs ul li {
		float: left;
		width: 40%;
	}
	.agileits_services_grid h3 {
    letter-spacing: 0px;
}
.w3l_services_footer_top_right_main_l h3 {
    padding-right: 1em;
}
}

@media(max-width:640px) {
	.inner_page_agile h3 {
		font-size: 2.2em;
	}
	.inner_page_agile {
		min-height: 163px;
		padding-top: 3em;
	}
	.blog-grid h4 a {
		font-size: 1.1em;
	}
	.events_info h5 {
		font-size: 0.9em;
	}
	.search_top input[type="text"],
	.search_top input[type="submit"] {
		width: 100%;
		margin-bottom: 8px;
	}
	.search_top select#country12 {
		width: 100%;
		margin-bottom: 10px;
	}
	.inner_content_info_agileits, .banner-bottom, .services {
    padding: 3em 0;
}
.header-1 {
    min-height: 270px;
}
.heading-agileinfo {
    font-size: 35px;
    margin-bottom: 1.8em;
}
.gallery {
    padding:3em 0;
}
.gallery-grid {
    width: 100%;
}
.agileits_services_grid {
    width: 100%;
}
.agileits_services_grid:nth-child(2){
    margin:2em 0;
}
.welcome {
    padding: 3em 0;
}
.about-w3slid {
    padding: 3em 0;
}
.team {
    padding: 3em 0;
}
.about-w3slid h3 {
    font-size: 2.2em;
}

.agile-about {
    padding: 3em 0 0;
}
.stats {
    padding: 3em 0;
}
.feedback {
    padding: 3em 0;
}
.news {
    padding: 3em 0;
}
.datew3-agileits {
    width: 100%;
    margin-bottom: 1.5em;
}
.datew3-agileits-info {
    padding-left: 1em;
    width: 100%;
}
.wthree-news-grids {
    margin-top: 2em;
}
}

@media(max-width:600px) {
	
	.team_work_agile h4 {
		font-size: 1.4em;
		width: 80%;
	}
	.team_work_agile {
		min-height: 250px;
	}
	
	.carousel-control {
		line-height: 19em;
	}
	.inner_content_info_agileits,
	.banner-bottom,
	.services {
		padding: 3em 0;
	}
	.w3l_services_footer_top_right_main_r {
    width: 47%;
}
}

@media(max-width:568px) {
	.team_work_agile h4 {
		font-size: 1.4em;
		width: 90%;
	}
	h3.tittle {
		margin: 0;
		font-size: 2.2em;
	}
	.footer_grid_right input[type="submit"] {
		width: 25%;
	}
	.footer_bottom h6 {
		font-size: 1.1em;
	}
	.mid_services_img {
		min-height: 299px;
	}
	.inner_breadcrumb {
		width: 90%;
		margin: 0 auto;
	}
	.map iframe {
		width: 100%;
		min-height: 300px;
		border: none;
		padding: 1em;
	}
	.w3l_services_footer_top_right_main_r {
    width: 43%;
}
    
    
    .justdial{
        width: 50%
    }
    
    .justdial{
        font-size: 20px;
    }
}

@media(max-width:480px) {
    
    .navbar{
        z-index: 0;
    }
    
	.team_work_agile h4 {
		font-size: 1.4em;
		width: 90%;
	}
	.footer_grid_right input[type="email"] {
		width: 65%;
	}
	.footer_grid_right input[type="submit"] {
		width: 29%;
	}
	.blog-grid {
		padding: 0;
		width: 100%;
		margin: 1.8% 0%;
		float: left;
	}
	.single-left1 ul {
		text-align: left;
	}
	.single-left1 ul li {
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.single-left1 h3 {
		margin: 1em 0 1em;
		letter-spacing: 1px;
		font-size: 1em;
	}
	.permit h3,
	.experience h3,
	h5.widget-title {
		font-size: 1.2em;
	}
	.inner_page_agile h3 {
		font-size: 1.8em;
	}
	.inner_page_agile {
		min-height: 141px;
		padding-top: 2.5em;
	}
	h3.tittle {
		margin: 0;
		font-size: 1.8em;
	}
	
	.location_box1 h6 {
		font-size: 1.1em;
	}
	h3.tittle.three {
		font-size: 1.6em;
	}
	.login-form-rec {
		margin: 0 auto;
		width: 100%;
	}
	.w3l_header_left ul li {
    margin-right: 0.5em;
    font-size: 13px;
}
.header-1 {
    min-height: 250px;
}
.w3l_services_footer_top_right_main_r {
    float: right;
    width: 100%;
    margin-top: 1em;
}
.about-w3slid h3 {
    font-size: 1.8em;
}
.w3ls_news_grids {
    margin-top: 0em;
}
.w3_agile_about_grid_left h3 {
    font-size: 1.2em;
}

.heading-agileinfo span {
    letter-spacing: 2px;;
}
.agile_info_mail_img {
    min-height: 320px;
}
}

@media(max-width:440px) {
	.team_work_agile h4 {
		font-size: 1.2em;
		width: 90%;
		padding-top: 2.6em;
	}
	.team_work_agile {
		min-height: 205px;
	}
	
	#search_form h2 {
		font-size: 1.6em;
	}
	
	h3.tittle {
		margin: 0;
		font-size: 2em;
	}
	.candidate_cv {
		min-height: 632px;
		padding: 3em 0 3em 0;
	}
	.login-form textarea {
		height: 81px;
	}
	.login-form input[type="submit"] {
		padding: 10px 0;
	}
	
	.login-form {
		margin: 1em auto 0;
		width: 99%;
	}
	.form-left,
	.form-right {
		padding: 1em;
	}
	
	
	
	ul.some_agile_facts label {
		font-size: 1.2em;
	}
	ul.some_agile_facts li {
		font-size: 1em;
	}
	.w3l_header_left {
    float: none;
    margin: 0;
    width: 100%;
}
.w3l_header_left ul li {
    margin-right: 3em;
    font-size: 14px;
}
.w3l_header_right {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.text-left {
    text-align: center;
}
.navbar-default a.navbar-brand h1 {
    font-size: 30px;
}
.navbar-toggle {
    margin-top: 6px;
    margin-bottom: 0;
}
.heading-agileinfo span {
    font-size: 15px!important;
    letter-spacing: 2px;
}
    .heading-agileinfo span:after{
            top: 124%;
            right: 40%;
    }
}

@media(max-width:414px) {
	h3.tittle {
		margin: 0;
		font-size: 1.7em;
	}
	.footer_grid_right input[type="email"] {
		width: 100%;
		margin-bottom: 10px;
	}
	.footer_grid_right input[type="submit"] {
		width: 50%;
	}
	.form-inputs ul li,
	.form-inputs ul li {
		float: none;
		width: 100%;
	}
	.w3_agile_team_grid {
    float: left;
    width: 100%;
}
.w3_agile_team_grid:nth-child(2), .w3_agile_team_grid:nth-child(4) {
    margin-top: 2em;
}
.w3layouts_stats_left {
    width: 100%;
}
}

@media(max-width:384px) {
	input[type="file"] {
		padding: 8px 5px;
		opacity: 0;
		cursor: pointer;
		position: absolute;
		left: 34.2%;
		width: 190px;
	}
	
	.loc_1 img {
		width: 100%;
		margin-bottom: 1em;
	}
	.w3l_header_left ul li {
    margin-right: 2em;
    font-size: 14px;
}

.carousel-control {
    line-height: 14em;
}
   .headingmain .heading-agileinfo{
        font-size: 45px;
    }
.heading-agileinfo span {
    letter-spacing: 0px;
}
}

@media(max-width:375px) {
	#search_form {
		padding: 2em 1em;
		text-align: center;
	}
	
	ul.some_agile_facts span.fa {
		text-align: center;
		line-height: 53px;
		margin-right: 20px;
		display: block;
		margin-bottom: 1em;
	}
	.team_work_agile h4 {
		font-size: 1.1em;
		width: 90%;
		padding-top: 2.6em;
	}
	h3.tittle {
		margin: 0;
		font-size: 1.6em;
	}
	.panel-title {
		font-size: 0.9em;
	}
	#search_form h2 {
		font-size: 1.5em;
	}
	
	.w3l_header_left ul li {
    margin-right: 1em;
}
}

@media(max-width:320px) {
	
	.header-1 {
    min-height: 230px;
}
.heading-agileinfo {
    font-size: 30px;
    margin-bottom: 1.8em;
}
.inner_content_info_agileits, .banner-bottom, .services {
    padding: 2em 0;
}
.agile_info_mail_img_info {
    margin-bottom: 2em;
    padding: 2em 1em;
}
.footer_top_agileits {
    padding: 2em 0;
}
.footer_grid h3, .footer_grid_left h3 {
    margin-bottom: 1em;
}
.w3l_header_left ul li {
    margin-right: 0.5em;   
	font-size: 13px;
}
.navbar-default a.navbar-brand h1 {
    font-size: 23px;
}
.content.white {
    padding: 1em 0.5em 0;
}
.heading-agileinfo span {
    font-size: 14px!important;
    letter-spacing: 0px;
}
.contact-right span {
    letter-spacing: 0px;
}
.gallery {
    padding: 2em 0;
}
.w3ls_service_icon i {
    padding-top: .25em;
}
.w3ls_service_icon {
    width: 50px;
    height: 50px;
}
.w3l_services_footer_top_right_main_l1 {
    margin: 0 0.5em;
}
.w3l_services_footer_top_right_main_l h3 {
    margin: 0.8em 0 0;
}
.footer_bottom1 p {
    letter-spacing: 1px;
}
.welcome {
    padding: 2em 0;
}
.about-w3slid {
    padding: 2em 0;
}
.team {
    padding: 2em 0;
}
.about-w3slid h3 {
    font-size: 1.5em;
}
.footer_grid,.footer_grid_left{
    padding: 0;
}
.agile-about {
    padding: 2em 0 0;
}
.agileits-about-btm {
    padding: 2em 0;
}
.stats {
    padding: 2em 0;
}
.grid1 {
    padding: 25px 16px;
}
.grid1 h4 {
    font-size: 17px;
}
.feedback {
    padding: 2em 0;
}
.news-agileinfo {
    margin-top: 2em;
}
.datew3-agileits-info h5 a {
    letter-spacing: 0px;
}
    
     .justdial{
        width: 60%
    }
    
    .justdial{
        font-size: 20px;
    }
}


/*--//responsive--*/